*{margin:0;padding: 0}
.wrap {width:360px;margin:200px auto ;}
.wrap .time-block {display: inline-block;*display: inline;*zoom:1;*margin-right:5px;vertical-align:middle;}
.upperHalf,.lowerHalf{position: relative;width:25px;height:17px;overflow: hidden;}
.wrap img {width:25px;position: absolute;}
